USE [quanlysanpham]
GO
/****** Object:  Table [dbo].[tbl_attributes]    Script Date: 18/04/2021 2:59:04 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attributes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_group_id] [int] NULL,
	[name] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_attributes] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[tbl_attributes]  WITH CHECK ADD FOREIGN KEY([attribute_group_id])
REFERENCES [dbo].[tbl_attribute_groups] ([id])
GO
